* {
    margin: 0;
}

html, body {
    height: 100%
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(92, 72, 54);
    color: rgb(255, 255, 2);
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(116, 112, 59);
    padding: 15px;
}

nav a:visited, 
nav a:link {
    color: bisque;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display:block;
    background-image: url("https://foodtank.com/wp-content/uploads/2021/03/designecologist-sPsZU1Do6L4-unsplash.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

.hog-gif {
text-align: center;
}

@media only screen and (min-width: 768px) {

h1, p {
    
    text-align: center;
}



}