


   
   body {
        background-color: blanchedalmond;
        color: #911e1e;
    }
   

    #swyn-2 {
        background-color: aquamarine;
        border: solid 5px #08fd00
    }

.tutorial > p { 
    font-size: 2em
    
}
